<%= link_to "Declare", users_declare_path%>

<ul id="the_order">
	<% @users.each do |line| %>
		<li>
			<% line.each do |u| %>
				<div>
					<%= link_to image_tag(u.try(:avatar_url)), "http://twitter.com/#{u.twitter_id}" %>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>