<div class="call_to_action">
	<%= link_to "Declare Someone Awesome", users_declare_path %>
</div>
<ul id="the_order">
	<% @users.each do |line| %>
		<li>
			<% line.each do |u| %>
				<div>
					<%= link_to image_tag(u.try(:avatar_url), :title=>"<div class='declare-him'><a href='http://twitter.com/#{u.twitter_id}'a>@#{u.twitter_id}</a> has #{u.awesome} awesome declarations<div><a href='/users/declare?tid=#{u.twitter_id}'>Declare him / her</a></div></div>"), "http://twitter.com/#!/search/%40#{u.twitter_id}%20%23tooa" %>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>
