<div class="call_to_action">
	<%= link_to "Declare Someone Awesome", users_declare_path %>
</div>
<ul id="the_order">
	<% @users.each do |line| %>
		<li>
			<% line.each do |u| %>
				<div>
					<%= link_to image_tag(u.try(:avatar_url), :title=>u.twitter_id), "http://twitter.com/#{u.twitter_id}" %>
				</div>
			<% end %>
		</li>
	<% end %>
</ul>