/*
 * FIXME: Introduce SCSS & Sprockets
 *= require_self
 *= require_tree . 
*/
#navigation{
    width: 100%;
}
#header{
    width: 100%;
    text-align: center;
}
#header h1{
    display: none;
}
#main{
    width: 100%;
}
#footer{
    width: 100%;
    text-align: center;
}
.wrap{
    
}