/*
 * FIXME: Introduce SCSS & Sprockets
 *= require_self
 *= require_tree . 
*/
#navigation{
    width: 100%;
    text-align: right;
    background: #520000;
    padding: 5px 0px 0px 0px;
}
#navigation img{
    padding: 0px;
    margin: 0px;
}
#header{
    width: 100%;
    text-align: center;
}
#header h1{
    display: none;
}
#main{
    width: 100%;
}
#footer{
    width: 100%;
    text-align: center;
    background: #211F1C;
    padding: 10px 0px 10px 0px;
}
#footer p{
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}
#footer a{
    margin: 0px 5px 0px 5px;
    color: #D2560E;
}
.wrap{
    
}
#the_order{
    text-align: center;
}
#the_order li{
    margin-bottom: 10px;
    list-style: none;
}
#the_order div{
    display: inline-block;
    background-image: url(twitter_background.png);
    width: 70px;
    height: 74px;
}
#the_order div:hover{
    background-image: url(twitter_background_hover.png);
}
#the_order div img{
    width: 48px;
    height: 48px;
    margin-top: 13px;
}