/*
 * FIXME: Introduce SCSS & Sprockets
 *= require_self
 *= require_tree . 
*/
body{
    font-family: Helvetica, Arial;
}
#navigation{
    width: 100%;
    text-align: right;
    background: #211E1A;
    padding: 5px 0px 0px 0px;
    color: #FFFFFF;
}
#navigation a{
    color: #FFFFFF;
}
#navigation a:hover{
    background: #FFFFFF;
    color: #211E1A;
}
#navigation img{
    padding: 0px;
    margin: 0px;
}
#header{
    width: 100%;
    text-align: center;
}
#header h1{
    display: none;
}
#main{
    width: 100%;
}
#footer{
    width: 100%;
    text-align: center;
    background: #211F1C;
    padding: 10px 0px 10px 0px;
}
#footer p{
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}
#footer a{
    margin: 0px 5px 0px 5px;
    color: #D2560E;
}
.call_to_action{
    margin: 30px 0px 30px 0px;
    text-align: center;
}
.call_to_action a{
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    background: #211E1A;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    border: 5px solid #7D0000;
}
.call_to_action a:hover{
    background: #520000;
}
#the_order{
    text-align: center;
}
#the_order li{
    margin: 0px 0px 10px 0px;
    list-style: none;
}
#the_order div{
    display: inline-block;
    background-image: url(twitter_background.png);
    width: 70px;
    height: 74px;
}
#the_order div:hover{
    background-image: url(twitter_background_hover.png);
}
#the_order div img{
    width: 48px;
    height: 48px;
    margin-top: 13px;
}
#declaration_of_awesomeness textarea{
    width: 470px;
    height: 120px;
    font-size: 1.5em;
    padding: 10px;
}
#declaration_of_awesomeness h2{
    font-size: 2em;
    margin: 10px;
}
#declaration_of_awesomeness p{
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
}
#declaration_of_awesomeness p.warning{
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    background: #211E1A;
    color: #FFFFFF;
}
#declaration_of_awesomeness{
    text-align: center;
}
.tooltip{
    background: #211F1C;
    color: #FFFFFF;
    padding: 5px;
    opacity: 0.9;
}
#flash_info{
    text-align: center;
    background: #520000;
    color: #FFFFFF;
}
#buy{
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
    background: #990303;
    color: #FFFFFF;
}
#buy a{
    color: #FFFFFF;
}
#buy_awesomeness{
    text-align: center;
}
#buy_awesomeness h2{
    
}

div.declare-him {
  font-size: 0.9em;
  text-align: center;
  color: #ddd;
}

div.declare-him a {
  color: #ddd;
}
